@keyframes purpleAnimation {
    0%, 100% {
      background-color: #eea1eb;
    }
    50% {
      background-color: #dc4de6;
    }
  }
  
  .animated-background {
    animation: purpleAnimation 15s ease-in-out infinite;
  }
  /* AnimationStyles.css */

.custom-cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(164, 68, 68);
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10000;
  mix-blend-mode: difference;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
